body {
    margin: 0px;
}
.container {
    background-color: pink;
    height: 400px;
    width: 400px;
    position: absolute;
    /* position: fixed; */
}
.blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    /* display: inline-block; */
    /* position: relative;
    left: 405px; */
    position: absolute;
    right: 100px;
    
}
.yellow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    /* display: inline-block; */
    position: absolute;
    left:200px;
    top: 198px;
}
.red {
    width: 200px;
    height: 200px;
    background-color: red;
    /* display: inline-block; */
    /* position: relative;
    right: 405px; */
    position: absolute;
    left: 400px;
    top: 398px;
}
/* right : inherit;
If the parent element has a right property defined, the child element will inherit the value of that property.

If there is no positioned ancestor with a right property defined, the child element will continue to inherit from its closest positioned ancestor. */
